.btn {
  background-color: var(--primary-color);
  color: var(--color-hover-text);
  box-shadow: var(--primary-shadow) !important;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1.5em;
  line-height: 1.5;
  font-size: 1rem;
  cursor: pointer;
}
