.wrapper {
  width: 100%;
}

.container {
  position: relative;
  list-style: none;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
  cursor: pointer;
  box-shadow: var(--primary-shadow);
  transition: all 0.3s;
  &:hover {
    transform: translateY(-4px);
    box-shadow: var(--primary-shadow-hover);
  }
  & h3 {
    color: var(--color-hover-text);
  }
  &.dark {
    background-color: whitesmoke;
    color: var(--primary-color-text);
  }
}

.reactions {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  align-items: center;
  & span {
    font-size: 0.8rem;
    color: gray;
    margin-right: 0.2rem;
  }
}

.date {
  font-size: 0.8rem;
  color: gray;
}
