.container {
    position: relative;
    list-style: none;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    box-shadow: var(--primary-shadow);
    transition: all .3s;
    &:hover {
        transform: translateY(-4px);
        box-shadow: var(--primary-shadow-hover);
    }
    & h3 {
        color: var(--color-hover-text);
    }
}

.github {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: .8rem;
}

.tech {
    font-size: 1rem;
    color: gray;
    text-align: center;
}